body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: lightblue;
    box-shadow: black;
    text-align: center;
}

h1 {
    text-align: center;
    color: black;
}

h3 {
    text-align: center;
    color: black;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}